body{
    padding: 50px;
    padding-top: 20px;
    background-color: black;
}
/* 
.myIntro{
    text-align: center;
} */


.myIntro .text{
    /* margin-left: 24%;
    margin-right: 24%; */
    margin-top: 5px;
    padding: 10px;
    padding-bottom: 0px;
}